In [1]:
import pandas as pd
import json
      
df = pd.read_csv("../geonames-all-cities-with-a-population-500.csv", sep=";",  on_bad_lines='skip')
df = df[df['Country'] == "Colombia"]
df = df[['Name', 'Latitude', 'Longitude', 'Population']]
df = df[df['Population']>0]

df = df.reset_index()
df = df.drop(['index'], axis=1)

In [2]:
df

                   Name  Latitude  Longitude  Population
0              Zapatoca   6.81532  -73.26768        6052
1     Valle de San Juan   4.19869  -75.11733        1486
2                 Tunja   5.53528  -73.36778      172548
3                 Tuluá   4.08466  -76.19536      221684
4                Toledo   7.30984  -72.48295        5911
...                 ...       ...        ...         ...
1049            Almeida   4.97083  -73.37972         754
1050          Algeciras   2.52385  -75.31733       10792
1051            Acacías   3.98695  -73.75797       40627
1052           Lejanías   3.52762  -74.02335       10576
1053          Santacruz   1.52090  -77.26206        2469

[1054 rows x 4 columns]

In [3]:
data = []

for i in range(len(df)):
        
    data.append({ "name": df.iloc[i]['Name'], "latitude" : float(df.iloc[i]['Latitude']), "longitude": float(df.iloc[i]['Longitude']), "pop2023": int(df.iloc[i]['Population'])})
    
save_file3 = open("population.json", "w") 
json.dump(data, save_file3, indent = 6) 
save_file3.close()